server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: ${blog.datasource.driver-class-name}
    url: jdbc:mysql://${blog.datasource.host}:${blog.datasource.port}/${blog.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${blog.datasource.username}
    password: ${blog.datasource.password}
    type: com.alibaba.druid.pool.DruidDataSource
    # Druid 连接池配置
    druid:
      # 初始化连接数量
      initial-size: 5
      # 最小空闲连接数
      min-idle: 5
      # 最大活跃连接数
      max-active: 20
      # 获取连接时最大等待时间，单位毫秒
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 连接保持空闲而不被驱逐的最小时间
      min-evictable-idle-time-millis: 300000
      # 用来检测连接是否有效的sql，要求是一个查询语句
      validation-query: SELECT 1
      # 建议配置为true，不影响性能，并且保证安全性
      test-while-idle: true
      # 申请连接时执行validation-query检测连接是否有效，做了这个配置会降低性能
      test-on-borrow: false
      # 归还连接时执行validation-query检测连接是否有效，做了这个配置会降低性能
      test-on-return: false

      # 监控配置
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"

      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: false
        login-username: ${blog.druid.login-username}
        login-password: ${blog.druid.login-password}
        allow: 127.0.0.1

      # 配置监控统计拦截的filters
      filters: stat,wall,log4j2

      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
        wall:
          enabled: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 10MB
mybatis:
    #mapper配置文件
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.blog.entities
    configuration:
      #开启驼峰命名
      map-underscore-to-camel-case: true

jwt:
  secret-key: ${blog.jwt.secret-key}
  token-name: ${blog.jwt.token-name}
  ttl-millis: ${blog.jwt.ttl-millis}
alioss:
  endpoint: ${blog.alioss.endpoint}
  bucket-name: ${blog.alioss.bucket-name}

